<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0" msg="Spritesheet created with https://gdcolon.com/gdsplitter">
 <dict>
  <key>frames</key>
  <dict>
   <key>.</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{0,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>..</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string></string>
    <key>spriteSize</key>
    <string>{0,0}</string>
    <key>spriteSourceSize</key>
    <string></string>
    <key>textureRect</key>
    <string>{{2,0},{0,0}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_35_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{61,60}</string>
    <key>textureRect</key>
    <string>{{0,2},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_35_2_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{60,60}</string>
    <key>spriteSourceSize</key>
    <string>{56,55}</string>
    <key>textureRect</key>
    <string>{{62,2},{60,60}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>player_35_glow_001.png</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{65,65}</string>
    <key>spriteSourceSize</key>
    <string>{65,64}</string>
    <key>textureRect</key>
    <string>{{0,64},{65,65}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>pixelFormat</key>
   <string>RGBA4444</string>
   <key>premultiplyAlpha</key>
   <false/>
   <key>realTextureFileName</key>
   <string>icons/player_35-hd.png</string>
   <key>size</key>
   <string>{124,131}</string>
   <key>smartupdate</key>
   <string>$none</string>
   <key>textureFileName</key>
   <string>icons/player_35-hd.png</string>
  </dict>
 </dict>
</plist>
