<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>robot_11_01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,98}</string>
			<key>spriteSourceSize</key>
			<string>{116,98}</string>
			<key>textureRect</key>
			<string>{{0,0},{98,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_01_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{116,98}</string>
			<key>spriteSourceSize</key>
			<string>{116,98}</string>
			<key>textureRect</key>
			<string>{{99,0},{98,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_01_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{133,116}</string>
			<key>spriteSourceSize</key>
			<string>{133,116}</string>
			<key>textureRect</key>
			<string>{{198,0},{116,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,66}</string>
			<key>spriteSourceSize</key>
			<string>{48,66}</string>
			<key>textureRect</key>
			<string>{{315,0},{48,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{48,66}</string>
			<key>spriteSourceSize</key>
			<string>{48,66}</string>
			<key>textureRect</key>
			<string>{{364,0},{48,66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_02_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{56,74}</string>
			<key>spriteSourceSize</key>
			<string>{56,74}</string>
			<key>textureRect</key>
			<string>{{413,0},{56,74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,50}</string>
			<key>spriteSourceSize</key>
			<string>{18,50}</string>
			<key>textureRect</key>
			<string>{{470,0},{18,50}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{14,46}</string>
			<key>spriteSourceSize</key>
			<string>{14,46}</string>
			<key>textureRect</key>
			<string>{{489,0},{14,46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_03_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{26,58}</string>
			<key>spriteSourceSize</key>
			<string>{26,58}</string>
			<key>textureRect</key>
			<string>{{504,0},{26,58}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>robot_11_04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,38}</string>
			<key>spriteSourceSize</key>
			<string>{66,38}</string>
			<key>textureRect</key>
			<string>{{531,0},{38,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_04_2_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{66,38}</string>
			<key>spriteSourceSize</key>
			<string>{66,38}</string>
			<key>textureRect</key>
			<string>{{570,0},{38,66}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>robot_11_04_glow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{74,46}</string>
			<key>spriteSourceSize</key>
			<string>{74,46}</string>
			<key>textureRect</key>
			<string>{{609,0},{46,74}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA4444</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>icons/robot_11-uhd.png</string>
		<key>size</key>
		<string>{656,133}</string>
		<key>smartupdate</key>
		<string></string>
		<key>textureFileName</key>
		<string>icons/robot_11-uhd.png</string>
	</dict>
</dict>
</plist>
