<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>geode.loader/baseAccount_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{0,0},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{84,0},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseAccount_Normal_Purple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{83,81}</string>
			<key>spriteSourceSize</key>
			<string>{86,83}</string>
			<key>textureRect</key>
			<string>{{168,0},{83,81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCategory_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5.0,-5.0}</string>
			<key>spriteSize</key>
			<string>{197,197}</string>
			<key>spriteSourceSize</key>
			<string>{209,208}</string>
			<key>textureRect</key>
			<string>{{252,0},{197,197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{451,0},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{561,0},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{671,0},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{781,0},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{0,83},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{110,83},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_BigAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.0}</string>
			<key>spriteSize</key>
			<string>{105,109}</string>
			<key>spriteSourceSize</key>
			<string>{112,121}</string>
			<key>textureRect</key>
			<string>{{451,107},{105,109}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{561,107},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{668,107},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{776,107},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{0,189},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{108,189},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{215,199},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Big_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{105,106}</string>
			<key>spriteSourceSize</key>
			<string>{108,113}</string>
			<key>textureRect</key>
			<string>{{323,199},{105,106}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{430,213},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{587,213},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{0,296},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{157,305},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{313,367},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{470,367},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Large_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{2.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{152,155}</string>
			<key>spriteSourceSize</key>
			<string>{160,166}</string>
			<key>textureRect</key>
			<string>{{626,367},{152,155}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{783,213},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{783,312},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{783,410},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{0,449},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{102,459},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{204,459},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_MediumAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{97,101}</string>
			<key>spriteSourceSize</key>
			<string>{105,114}</string>
			<key>textureRect</key>
			<string>{{783,509},{97,101}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{306,520},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{398,520},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{490,520},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{582,520},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{674,520},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{0,548},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Medium_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-2.0}</string>
			<key>spriteSize</key>
			<string>{89,91}</string>
			<key>spriteSourceSize</key>
			<string>{93,98}</string>
			<key>textureRect</key>
			<string>{{92,557},{89,91}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{184,557},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{766,607},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{268,611},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{351,611},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{435,611},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{518,611},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_SmallAlt_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{81,82}</string>
			<key>spriteSourceSize</key>
			<string>{83,88}</string>
			<key>textureRect</key>
			<string>{{602,611},{81,82}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{685,611},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{0,638},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{184,639},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{77,648},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{685,686},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{762,689},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Small_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{74,75}</string>
			<key>spriteSourceSize</key>
			<string>{77,82}</string>
			<key>textureRect</key>
			<string>{{261,693},{74,75}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{838,689},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{337,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkAqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{390,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_DarkPurple.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{443,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{496,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{549,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCircle_Tiny_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{51,52}</string>
			<key>spriteSourceSize</key>
			<string>{53,58}</string>
			<key>textureRect</key>
			<string>{{602,693},{51,52}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseCross_Huge_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{5.0,-5.5}</string>
			<key>spriteSize</key>
			<string>{208,208}</string>
			<key>spriteSourceSize</key>
			<string>{229,229}</string>
			<key>textureRect</key>
			<string>{{0,723},{208,208}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseCross_Small_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{3.5,-3.5}</string>
			<key>spriteSize</key>
			<string>{132,132}</string>
			<key>spriteSourceSize</key>
			<string>{147,147}</string>
			<key>textureRect</key>
			<string>{{337,745},{132,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Aqua.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{67,72}</string>
			<key>textureRect</key>
			<string>{{471,745},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{537,745},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_BrightGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{604,745},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Cyan.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{670,761},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DarkGray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{737,764},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_DimGreen.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{803,764},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Gray.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{210,768},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Green.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{471,810},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_LightBlue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{537,810},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Magenta.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{604,810},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Orange.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{670,826},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Pink.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{737,829},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Salmon.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{803,829},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseEditor_Normal_Teal.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{64,65}</string>
			<key>spriteSourceSize</key>
			<string>{66,69}</string>
			<key>textureRect</key>
			<string>{{210,833},{64,65}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{471,875},{62,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseIconSelect_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{62,63}</string>
			<key>spriteSourceSize</key>
			<string>{67,71}</string>
			<key>textureRect</key>
			<string>{{535,875},{62,63}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>geode.loader/baseLeaderboard_Normal_Blue.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{1.5,-0.5}</string>
			<key>spriteSize</key>
			<string>{67,65}</string>
			<key>spriteSourceSize</key>
			<string>{72,68}</string>
			<key>textureRect</key>
			<string>{{600,875},{67,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Selected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{184,57}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{276,878},{184,57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_Unselected.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{668,894},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>geode.loader/baseTab_Normal_UnselectedDark.png</key>
		<dict>
			<key>spriteOffset</key>
			<string>{0.0,-1.5}</string>
			<key>spriteSize</key>
			<string>{184,60}</string>
			<key>spriteSourceSize</key>
			<string>{184,64}</string>
			<key>textureRect</key>
			<string>{{0,932},{184,60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>realTextureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
		<key>size</key>
		<string>{890,992}</string>
		<key>textureFileName</key>
		<string>geode.loader/BlankSheet-hd.png</string>
	</dict>
</dict>
</plist>
