<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gauntletLock_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{1.5,-12.5}</string>
			<key>spriteSize</key>
			<string>{38,45}</string>
			<key>spriteSourceSize</key>
			<string>{38,45}</string>
			<key>textureRect</key>
			<string>{{1,1},{38,45}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{118,124}</string>
			<key>spriteSourceSize</key>
			<string>{118,124}</string>
			<key>textureRect</key>
			<string>{{47,1},{118,124}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chance_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{127,139}</string>
			<key>spriteSourceSize</key>
			<string>{127,139}</string>
			<key>textureRect</key>
			<string>{{172,1},{127,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,120}</string>
			<key>spriteSourceSize</key>
			<string>{118,120}</string>
			<key>textureRect</key>
			<string>{{312,1},{118,120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_cinema_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,19.0}</string>
			<key>spriteSize</key>
			<string>{118,138}</string>
			<key>spriteSourceSize</key>
			<string>{118,138}</string>
			<key>textureRect</key>
			<string>{{431,1},{118,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_cosmos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{127,146}</string>
			<key>spriteSourceSize</key>
			<string>{127,146}</string>
			<key>textureRect</key>
			<string>{{570,1},{127,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-3.0}</string>
			<key>spriteSize</key>
			<string>{118,116}</string>
			<key>spriteSourceSize</key>
			<string>{118,116}</string>
			<key>textureRect</key>
			<string>{{717,1},{118,116}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,11.5}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{834,1},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{117,125}</string>
			<key>spriteSourceSize</key>
			<string>{117,125}</string>
			<key>textureRect</key>
			<string>{{972,1},{117,125}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{117,133}</string>
			<key>spriteSourceSize</key>
			<string>{117,133}</string>
			<key>textureRect</key>
			<string>{{1090,1},{117,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,121}</string>
			<key>spriteSourceSize</key>
			<string>{119,121}</string>
			<key>textureRect</key>
			<string>{{1224,1},{119,121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_future_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,14.0}</string>
			<key>spriteSize</key>
			<string>{122,129}</string>
			<key>spriteSourceSize</key>
			<string>{122,129}</string>
			<key>textureRect</key>
			<string>{{1344,1},{122,129}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{119,113}</string>
			<key>spriteSourceSize</key>
			<string>{119,113}</string>
			<key>textureRect</key>
			<string>{{1474,1},{119,113}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.5}</string>
			<key>spriteSize</key>
			<string>{119,132}</string>
			<key>spriteSourceSize</key>
			<string>{119,132}</string>
			<key>textureRect</key>
			<string>{{1588,1},{119,132}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_love_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,10.0}</string>
			<key>spriteSize</key>
			<string>{134,131}</string>
			<key>spriteSourceSize</key>
			<string>{134,131}</string>
			<key>textureRect</key>
			<string>{{1721,1},{134,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{118,126}</string>
			<key>spriteSourceSize</key>
			<string>{118,126}</string>
			<key>textureRect</key>
			<string>{{1856,1},{118,126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.5}</string>
			<key>spriteSize</key>
			<string>{118,129}</string>
			<key>spriteSourceSize</key>
			<string>{118,129}</string>
			<key>textureRect</key>
			<string>{{1975,1},{118,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ncs01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,16.5}</string>
			<key>spriteSize</key>
			<string>{129,146}</string>
			<key>spriteSourceSize</key>
			<string>{129,146}</string>
			<key>textureRect</key>
			<string>{{2094,1},{129,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ncs02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-0.5,16.5}</string>
			<key>spriteSize</key>
			<string>{129,146}</string>
			<key>spriteSourceSize</key>
			<string>{129,146}</string>
			<key>textureRect</key>
			<string>{{2241,1},{129,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{133,133}</string>
			<key>spriteSourceSize</key>
			<string>{133,133}</string>
			<key>textureRect</key>
			<string>{{1,133},{133,133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,7.0}</string>
			<key>spriteSize</key>
			<string>{128,144}</string>
			<key>spriteSourceSize</key>
			<string>{128,144}</string>
			<key>textureRect</key>
			<string>{{135,133},{128,144}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.5}</string>
			<key>spriteSize</key>
			<string>{128,131}</string>
			<key>spriteSourceSize</key>
			<string>{128,131}</string>
			<key>textureRect</key>
			<string>{{280,133},{128,131}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,12.0}</string>
			<key>spriteSize</key>
			<string>{128,137}</string>
			<key>spriteSourceSize</key>
			<string>{128,137}</string>
			<key>textureRect</key>
			<string>{{409,133},{128,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{125,136}</string>
			<key>spriteSourceSize</key>
			<string>{125,136}</string>
			<key>textureRect</key>
			<string>{{547,133},{125,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-3.5,-5.5}</string>
			<key>spriteSize</key>
			<string>{128,128}</string>
			<key>spriteSourceSize</key>
			<string>{128,128}</string>
			<key>textureRect</key>
			<string>{{684,133},{128,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new07_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{4.5,25.0}</string>
			<key>spriteSize</key>
			<string>{128,182}</string>
			<key>spriteSourceSize</key>
			<string>{128,182}</string>
			<key>textureRect</key>
			<string>{{813,133},{128,182}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new08_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,1.0}</string>
			<key>spriteSize</key>
			<string>{128,136}</string>
			<key>spriteSourceSize</key>
			<string>{128,136}</string>
			<key>textureRect</key>
			<string>{{996,133},{128,136}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{128,138}</string>
			<key>spriteSourceSize</key>
			<string>{128,138}</string>
			<key>textureRect</key>
			<string>{{1133,133},{128,138}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.5}</string>
			<key>spriteSize</key>
			<string>{128,146}</string>
			<key>spriteSourceSize</key>
			<string>{128,146}</string>
			<key>textureRect</key>
			<string>{{1272,133},{128,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,8.0}</string>
			<key>spriteSize</key>
			<string>{128,146}</string>
			<key>spriteSourceSize</key>
			<string>{128,146}</string>
			<key>textureRect</key>
			<string>{{1419,133},{128,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new12_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{128,134}</string>
			<key>spriteSourceSize</key>
			<string>{128,134}</string>
			<key>textureRect</key>
			<string>{{1566,133},{128,134}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new13_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,8.0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{1701,133},{128,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,139}</string>
			<key>spriteSourceSize</key>
			<string>{128,139}</string>
			<key>textureRect</key>
			<string>{{1830,133},{128,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,2.0}</string>
			<key>spriteSize</key>
			<string>{128,141}</string>
			<key>spriteSourceSize</key>
			<string>{128,141}</string>
			<key>textureRect</key>
			<string>{{1970,133},{128,141}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new16_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,17.0}</string>
			<key>spriteSize</key>
			<string>{128,147}</string>
			<key>spriteSourceSize</key>
			<string>{128,147}</string>
			<key>textureRect</key>
			<string>{{2112,133},{128,147}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,20.0}</string>
			<key>spriteSize</key>
			<string>{128,152}</string>
			<key>spriteSourceSize</key>
			<string>{128,152}</string>
			<key>textureRect</key>
			<string>{{1,267},{128,152}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,0.0}</string>
			<key>spriteSize</key>
			<string>{128,133}</string>
			<key>spriteSourceSize</key>
			<string>{128,133}</string>
			<key>textureRect</key>
			<string>{{154,267},{128,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-6.0}</string>
			<key>spriteSize</key>
			<string>{128,142}</string>
			<key>spriteSourceSize</key>
			<string>{128,142}</string>
			<key>textureRect</key>
			<string>{{288,267},{128,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,6.0}</string>
			<key>spriteSize</key>
			<string>{128,157}</string>
			<key>spriteSourceSize</key>
			<string>{128,157}</string>
			<key>textureRect</key>
			<string>{{431,267},{128,157}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,22.0}</string>
			<key>spriteSize</key>
			<string>{128,156}</string>
			<key>spriteSourceSize</key>
			<string>{128,156}</string>
			<key>textureRect</key>
			<string>{{589,267},{128,156}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,10.5}</string>
			<key>spriteSize</key>
			<string>{128,133}</string>
			<key>spriteSourceSize</key>
			<string>{128,133}</string>
			<key>textureRect</key>
			<string>{{746,267},{128,133}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,23.5}</string>
			<key>spriteSize</key>
			<string>{128,160}</string>
			<key>spriteSourceSize</key>
			<string>{128,160}</string>
			<key>textureRect</key>
			<string>{{880,267},{128,160}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new24_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,12.0}</string>
			<key>spriteSize</key>
			<string>{133,137}</string>
			<key>spriteSourceSize</key>
			<string>{133,137}</string>
			<key>textureRect</key>
			<string>{{1041,267},{133,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,14.0}</string>
			<key>spriteSize</key>
			<string>{128,140}</string>
			<key>spriteSourceSize</key>
			<string>{128,140}</string>
			<key>textureRect</key>
			<string>{{1179,267},{128,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new26_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,9.5}</string>
			<key>spriteSize</key>
			<string>{128,132}</string>
			<key>spriteSourceSize</key>
			<string>{128,132}</string>
			<key>textureRect</key>
			<string>{{1320,267},{128,132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new27_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,14.0}</string>
			<key>spriteSize</key>
			<string>{128,140}</string>
			<key>spriteSourceSize</key>
			<string>{128,140}</string>
			<key>textureRect</key>
			<string>{{1449,267},{128,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-2.5,29.0}</string>
			<key>spriteSize</key>
			<string>{133,171}</string>
			<key>spriteSourceSize</key>
			<string>{133,171}</string>
			<key>textureRect</key>
			<string>{{1590,267},{133,171}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,6.5}</string>
			<key>spriteSize</key>
			<string>{128,126}</string>
			<key>spriteSourceSize</key>
			<string>{128,126}</string>
			<key>textureRect</key>
			<string>{{1762,267},{128,126}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,8.0}</string>
			<key>spriteSize</key>
			<string>{128,129}</string>
			<key>spriteSourceSize</key>
			<string>{128,129}</string>
			<key>textureRect</key>
			<string>{{1889,267},{128,129}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{132,140}</string>
			<key>spriteSourceSize</key>
			<string>{132,140}</string>
			<key>textureRect</key>
			<string>{{2018,267},{132,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new32_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{132,139}</string>
			<key>spriteSourceSize</key>
			<string>{132,139}</string>
			<key>textureRect</key>
			<string>{{2159,267},{132,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{133,140}</string>
			<key>spriteSourceSize</key>
			<string>{133,140}</string>
			<key>textureRect</key>
			<string>{{1,401},{133,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,15.0}</string>
			<key>spriteSize</key>
			<string>{128,142}</string>
			<key>spriteSourceSize</key>
			<string>{128,142}</string>
			<key>textureRect</key>
			<string>{{142,401},{128,142}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new35_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{127,139}</string>
			<key>spriteSourceSize</key>
			<string>{127,139}</string>
			<key>textureRect</key>
			<string>{{285,401},{127,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.0}</string>
			<key>spriteSize</key>
			<string>{118,123}</string>
			<key>spriteSourceSize</key>
			<string>{118,123}</string>
			<key>textureRect</key>
			<string>{{425,401},{118,123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_random_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,13.5}</string>
			<key>spriteSize</key>
			<string>{127,139}</string>
			<key>spriteSourceSize</key>
			<string>{127,139}</string>
			<key>textureRect</key>
			<string>{{544,401},{127,139}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,-4.5}</string>
			<key>spriteSize</key>
			<string>{118,108}</string>
			<key>spriteSourceSize</key>
			<string>{118,108}</string>
			<key>textureRect</key>
			<string>{{684,401},{118,108}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_space_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,16.5}</string>
			<key>spriteSize</key>
			<string>{127,146}</string>
			<key>spriteSourceSize</key>
			<string>{127,146}</string>
			<key>textureRect</key>
			<string>{{793,401},{127,146}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,3.0}</string>
			<key>spriteSize</key>
			<string>{118,137}</string>
			<key>spriteSourceSize</key>
			<string>{118,137}</string>
			<key>textureRect</key>
			<string>{{940,401},{118,137}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,4.5}</string>
			<key>spriteSize</key>
			<string>{118,128}</string>
			<key>spriteSourceSize</key>
			<string>{118,128}</string>
			<key>textureRect</key>
			<string>{{1078,401},{118,128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_utopia_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0.0,19.5}</string>
			<key>spriteSize</key>
			<string>{118,140}</string>
			<key>spriteSourceSize</key>
			<string>{118,140}</string>
			<key>textureRect</key>
			<string>{{1197,401},{118,140}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{2.5,-2.5}</string>
			<key>spriteSize</key>
			<string>{626,65}</string>
			<key>spriteSourceSize</key>
			<string>{626,65}</string>
			<key>textureRect</key>
			<string>{{1338,401},{626,65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-hd.png</string>
		<key>size</key>
		<string>{1,1}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eaafc4c5eb22dcb2b034408adb499f96:d98a571449114559893cb5ed24485712:e43528e55c10f2683a103180db48aec4$</string>
		<key>textureFileName</key>
		<string>GauntletSheet-hd.png</string>
	</dict>
</dict>
</plist>
