<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>gauntletLock_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{3,-25}</string>
			<key>spriteSize</key>
			<string>{76,90}</string>
			<key>spriteSourceSize</key>
			<string>{76,90}</string>
			<key>textureRect</key>
			<string>{{1,1},{76,90}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_bonus_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{237,248}</string>
			<key>spriteSourceSize</key>
			<string>{237,248}</string>
			<key>textureRect</key>
			<string>{{92,1},{237,248}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chance_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{254,278}</string>
			<key>spriteSourceSize</key>
			<string>{254,278}</string>
			<key>textureRect</key>
			<string>{{341,1},{254,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_chaos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{236,240}</string>
			<key>spriteSourceSize</key>
			<string>{236,240}</string>
			<key>textureRect</key>
			<string>{{620,1},{236,240}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_cinema_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,38}</string>
			<key>spriteSize</key>
			<string>{236,276}</string>
			<key>spriteSourceSize</key>
			<string>{236,276}</string>
			<key>textureRect</key>
			<string>{{857,1},{236,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_cosmos_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,33}</string>
			<key>spriteSize</key>
			<string>{254,292}</string>
			<key>spriteSourceSize</key>
			<string>{254,292}</string>
			<key>textureRect</key>
			<string>{{1134,1},{254,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_crystal_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-6}</string>
			<key>spriteSize</key>
			<string>{237,232}</string>
			<key>spriteSourceSize</key>
			<string>{237,232}</string>
			<key>textureRect</key>
			<string>{{1427,1},{237,232}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_death_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,23}</string>
			<key>spriteSize</key>
			<string>{236,274}</string>
			<key>spriteSourceSize</key>
			<string>{236,274}</string>
			<key>textureRect</key>
			<string>{{1660,1},{236,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_demon_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{235,250}</string>
			<key>spriteSourceSize</key>
			<string>{235,250}</string>
			<key>textureRect</key>
			<string>{{1935,1},{235,250}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_doom_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{235,266}</string>
			<key>spriteSourceSize</key>
			<string>{235,266}</string>
			<key>textureRect</key>
			<string>{{2171,1},{235,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_fire_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,242}</string>
			<key>spriteSourceSize</key>
			<string>{238,242}</string>
			<key>textureRect</key>
			<string>{{2438,1},{238,242}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_future_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,28}</string>
			<key>spriteSize</key>
			<string>{245,258}</string>
			<key>spriteSourceSize</key>
			<string>{245,258}</string>
			<key>textureRect</key>
			<string>{{2677,1},{245,258}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ice_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{238,226}</string>
			<key>spriteSourceSize</key>
			<string>{238,226}</string>
			<key>textureRect</key>
			<string>{{2936,1},{238,226}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_lava_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,1}</string>
			<key>spriteSize</key>
			<string>{239,264}</string>
			<key>spriteSourceSize</key>
			<string>{239,264}</string>
			<key>textureRect</key>
			<string>{{3163,1},{239,264}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_love_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,20}</string>
			<key>spriteSize</key>
			<string>{268,262}</string>
			<key>spriteSourceSize</key>
			<string>{268,262}</string>
			<key>textureRect</key>
			<string>{{3428,1},{268,262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_magic_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{237,252}</string>
			<key>spriteSourceSize</key>
			<string>{237,252}</string>
			<key>textureRect</key>
			<string>{{3697,1},{237,252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_monster_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,3}</string>
			<key>spriteSize</key>
			<string>{237,258}</string>
			<key>spriteSourceSize</key>
			<string>{237,258}</string>
			<key>textureRect</key>
			<string>{{3935,1},{237,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_ncs01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,33}</string>
			<key>spriteSize</key>
			<string>{258,292}</string>
			<key>spriteSourceSize</key>
			<string>{258,292}</string>
			<key>textureRect</key>
			<string>{{4173,1},{258,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_ncs02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-1,33}</string>
			<key>spriteSize</key>
			<string>{258,292}</string>
			<key>spriteSourceSize</key>
			<string>{258,292}</string>
			<key>textureRect</key>
			<string>{{4466,1},{258,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new01_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{266,266}</string>
			<key>spriteSourceSize</key>
			<string>{266,266}</string>
			<key>textureRect</key>
			<string>{{1,264},{266,266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new02_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,14}</string>
			<key>spriteSize</key>
			<string>{256,288}</string>
			<key>spriteSourceSize</key>
			<string>{256,288}</string>
			<key>textureRect</key>
			<string>{{268,264},{256,288}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new03_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{256,262}</string>
			<key>spriteSourceSize</key>
			<string>{256,262}</string>
			<key>textureRect</key>
			<string>{{557,264},{256,262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new04_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,24}</string>
			<key>spriteSize</key>
			<string>{256,274}</string>
			<key>spriteSourceSize</key>
			<string>{256,274}</string>
			<key>textureRect</key>
			<string>{{814,264},{256,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new05_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{250,272}</string>
			<key>spriteSourceSize</key>
			<string>{250,272}</string>
			<key>textureRect</key>
			<string>{{1089,264},{250,272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new06_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-7,-11}</string>
			<key>spriteSize</key>
			<string>{256,256}</string>
			<key>spriteSourceSize</key>
			<string>{256,256}</string>
			<key>textureRect</key>
			<string>{{1362,264},{256,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new07_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{9,50}</string>
			<key>spriteSize</key>
			<string>{256,364}</string>
			<key>spriteSourceSize</key>
			<string>{256,364}</string>
			<key>textureRect</key>
			<string>{{1619,264},{256,364}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new08_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,2}</string>
			<key>spriteSize</key>
			<string>{256,272}</string>
			<key>spriteSourceSize</key>
			<string>{256,272}</string>
			<key>textureRect</key>
			<string>{{1984,264},{256,272}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new09_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,276}</string>
			<key>spriteSourceSize</key>
			<string>{256,276}</string>
			<key>textureRect</key>
			<string>{{2257,264},{256,276}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new10_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,7}</string>
			<key>spriteSize</key>
			<string>{256,292}</string>
			<key>spriteSourceSize</key>
			<string>{256,292}</string>
			<key>textureRect</key>
			<string>{{2534,264},{256,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new11_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,292}</string>
			<key>spriteSourceSize</key>
			<string>{256,292}</string>
			<key>textureRect</key>
			<string>{{2827,264},{256,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new12_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,268}</string>
			<key>spriteSourceSize</key>
			<string>{256,268}</string>
			<key>textureRect</key>
			<string>{{3120,264},{256,268}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new13_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,258}</string>
			<key>spriteSourceSize</key>
			<string>{256,258}</string>
			<key>textureRect</key>
			<string>{{3389,264},{256,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new14_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,278}</string>
			<key>spriteSourceSize</key>
			<string>{256,278}</string>
			<key>textureRect</key>
			<string>{{3646,264},{256,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new15_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,4}</string>
			<key>spriteSize</key>
			<string>{256,282}</string>
			<key>spriteSourceSize</key>
			<string>{256,282}</string>
			<key>textureRect</key>
			<string>{{3925,264},{256,282}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new16_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,34}</string>
			<key>spriteSize</key>
			<string>{256,294}</string>
			<key>spriteSourceSize</key>
			<string>{256,294}</string>
			<key>textureRect</key>
			<string>{{4208,264},{256,294}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new17_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,40}</string>
			<key>spriteSize</key>
			<string>{256,304}</string>
			<key>spriteSourceSize</key>
			<string>{256,304}</string>
			<key>textureRect</key>
			<string>{{1,531},{256,304}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new18_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{256,266}</string>
			<key>spriteSourceSize</key>
			<string>{256,266}</string>
			<key>textureRect</key>
			<string>{{306,531},{256,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new19_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-12}</string>
			<key>spriteSize</key>
			<string>{256,284}</string>
			<key>spriteSourceSize</key>
			<string>{256,284}</string>
			<key>textureRect</key>
			<string>{{573,531},{256,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new20_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,12}</string>
			<key>spriteSize</key>
			<string>{256,314}</string>
			<key>spriteSourceSize</key>
			<string>{256,314}</string>
			<key>textureRect</key>
			<string>{{858,531},{256,314}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new21_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,44}</string>
			<key>spriteSize</key>
			<string>{256,312}</string>
			<key>spriteSourceSize</key>
			<string>{256,312}</string>
			<key>textureRect</key>
			<string>{{1173,531},{256,312}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new22_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,21}</string>
			<key>spriteSize</key>
			<string>{256,266}</string>
			<key>spriteSourceSize</key>
			<string>{256,266}</string>
			<key>textureRect</key>
			<string>{{1486,531},{256,266}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new23_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,47}</string>
			<key>spriteSize</key>
			<string>{256,320}</string>
			<key>spriteSourceSize</key>
			<string>{256,320}</string>
			<key>textureRect</key>
			<string>{{1753,531},{256,320}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new24_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,24}</string>
			<key>spriteSize</key>
			<string>{266,274}</string>
			<key>spriteSourceSize</key>
			<string>{266,274}</string>
			<key>textureRect</key>
			<string>{{2074,531},{266,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new25_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,28}</string>
			<key>spriteSize</key>
			<string>{256,280}</string>
			<key>spriteSourceSize</key>
			<string>{256,280}</string>
			<key>textureRect</key>
			<string>{{2349,531},{256,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new26_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,19}</string>
			<key>spriteSize</key>
			<string>{256,264}</string>
			<key>spriteSourceSize</key>
			<string>{256,264}</string>
			<key>textureRect</key>
			<string>{{2630,531},{256,264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new27_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,28}</string>
			<key>spriteSize</key>
			<string>{256,280}</string>
			<key>spriteSourceSize</key>
			<string>{256,280}</string>
			<key>textureRect</key>
			<string>{{2887,531},{256,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new28_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{-5,58}</string>
			<key>spriteSize</key>
			<string>{266,342}</string>
			<key>spriteSourceSize</key>
			<string>{266,342}</string>
			<key>textureRect</key>
			<string>{{3168,531},{266,342}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new29_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,13}</string>
			<key>spriteSize</key>
			<string>{256,252}</string>
			<key>spriteSourceSize</key>
			<string>{256,252}</string>
			<key>textureRect</key>
			<string>{{3511,531},{256,252}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new30_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,16}</string>
			<key>spriteSize</key>
			<string>{256,258}</string>
			<key>spriteSourceSize</key>
			<string>{256,258}</string>
			<key>textureRect</key>
			<string>{{3764,531},{256,258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_new31_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{264,280}</string>
			<key>spriteSourceSize</key>
			<string>{264,280}</string>
			<key>textureRect</key>
			<string>{{4021,531},{264,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new32_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{264,278}</string>
			<key>spriteSourceSize</key>
			<string>{264,278}</string>
			<key>textureRect</key>
			<string>{{4302,531},{264,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new33_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{266,280}</string>
			<key>spriteSourceSize</key>
			<string>{266,280}</string>
			<key>textureRect</key>
			<string>{{1,798},{266,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new34_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,30}</string>
			<key>spriteSize</key>
			<string>{256,284}</string>
			<key>spriteSourceSize</key>
			<string>{256,284}</string>
			<key>textureRect</key>
			<string>{{282,798},{256,284}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_new35_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{254,278}</string>
			<key>spriteSourceSize</key>
			<string>{254,278}</string>
			<key>textureRect</key>
			<string>{{567,798},{254,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_poison_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,8}</string>
			<key>spriteSize</key>
			<string>{236,246}</string>
			<key>spriteSourceSize</key>
			<string>{236,246}</string>
			<key>textureRect</key>
			<string>{{846,798},{236,246}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_random_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,27}</string>
			<key>spriteSize</key>
			<string>{254,278}</string>
			<key>spriteSourceSize</key>
			<string>{254,278}</string>
			<key>textureRect</key>
			<string>{{1083,798},{254,278}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_shadow_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,-9}</string>
			<key>spriteSize</key>
			<string>{236,216}</string>
			<key>spriteSourceSize</key>
			<string>{236,216}</string>
			<key>textureRect</key>
			<string>{{1362,798},{236,216}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_space_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,33}</string>
			<key>spriteSize</key>
			<string>{254,292}</string>
			<key>spriteSourceSize</key>
			<string>{254,292}</string>
			<key>textureRect</key>
			<string>{{1579,798},{254,292}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_spike_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,6}</string>
			<key>spriteSize</key>
			<string>{237,274}</string>
			<key>spriteSourceSize</key>
			<string>{237,274}</string>
			<key>textureRect</key>
			<string>{{1872,798},{237,274}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>island_time_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,9}</string>
			<key>spriteSize</key>
			<string>{237,256}</string>
			<key>spriteSourceSize</key>
			<string>{237,256}</string>
			<key>textureRect</key>
			<string>{{2147,798},{237,256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>island_utopia_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{0,39}</string>
			<key>spriteSize</key>
			<string>{236,280}</string>
			<key>spriteSourceSize</key>
			<string>{236,280}</string>
			<key>textureRect</key>
			<string>{{2385,798},{236,280}}</string>
			<key>textureRotated</key>
			<true/>
		</dict>
		<key>theLostGauntletsLabel_001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteOffset</key>
			<string>{5,-5}</string>
			<key>spriteSize</key>
			<string>{1252,130}</string>
			<key>spriteSourceSize</key>
			<string>{1252,130}</string>
			<key>textureRect</key>
			<string>{{2666,798},{1252,130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>pixelFormat</key>
		<string>RGBA8888</string>
		<key>premultiplyAlpha</key>
		<false/>
		<key>realTextureFileName</key>
		<string>GauntletSheet-uhd.png</string>
		<key>size</key>
		<string>{4800,4800}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:eaafc4c5eb22dcb2b034408adb499f96:d98a571449114559893cb5ed24485712:e43528e55c10f2683a103180db48aec4$</string>
		<key>textureFileName</key>
		<string>GauntletSheet-uhd.png</string>
	</dict>
</dict>
</plist>
